@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");
* {
  box-sizing: border-box;
  font-family: "San Francisco Display Medium";
}
*::-webkit-scrollbar {
  width: 15px; 
}
*::-webkit-scrollbar-track {
  background-color: #318063;  
}
*::-webkit-scrollbar-thumb {
  background-color: #235c47;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #1c4a39;
}
*::-webkit-scrollbar-thumb:active{
  background-color: #15372b;
}

/* BODY, H3, B */

body {
  overflow-x: hidden;
  height: auto;
  background-color: #379573;
}

/* HEADER */

header {
  height: 120px;
  background-color:  #1c4a39;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -10px;
}
#itis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/* NAVIGATION BAR */

nav {
  position: absolute;
  width: 100%;
  margin-top: -8px;
  margin-left: -8px;
  padding-top: 8px;
  background-color:  #1c4a39;
  padding-right: 20px;
  padding-bottom: 10px;
  right: 0px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nlinks {
  float: left;
}
.fontt, .button{
  font-size: 45px;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 30px;
  color: #4dbd94;
}
.ruota{
  margin-bottom: -5px;
  margin-left: 30px;
  width: 45px;
  height: 45px;
}
.fontt{
  margin-top: 10px;
  margin-bottom: -10px;  
}
.button{
  height: 45px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.fontt:hover, .button:hover{
  color: #308264;
  transition: 0.5s;
}
.ruota {
  animation: rotation 5s infinite linear;
}
.download{
  background: none;
  float: right;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: -20px;
}
.download:hover{
  transition: 0.5s;
  background-color:  #25664e;
}
.download a{
  font-size: 25px;
  text-decoration: none;
  color: #4dbd94;
}
.download a:hover{
  color:  #1c4a39;
  transition: 0.5s;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* CONTAINER */

.container {
  padding: 20px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: #15382b;
  color: white;
  text-align: center;
  font-size: 30px;
}
.preview{
  margin-top: 70px;
}

/* FOOTER */

footer{
  position: absolute;
  width: 100%;
  background-color:  #1c4a39;
  margin-bottom: -8px;
  margin-left: -8px;
  right: 0;
  padding: 25px;
  color: #276850;
  text-align: center;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
}
.modal-content {
  margin: 50px auto;
  width: 60%;
}
.closed {
  color: #4dbd94;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  padding-right: 10px;
}
.closed:hover, .close:focus {
  color: #308264;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL FORM CONTACT */

.form-container{
  background-color: #15382b;
  width: fit-content;
  height: auto;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form{
  width: 600px;
  height: 760px;
  border: none;
  margin-right: -10px;
  margin-left: 25px;
  filter: invert(100%);
}

/* MEDIA QUERYS FOR ALL DEVICE KIND */

@media screen and (max-width: 600px) {
  header{
    height: 160px;
  }
  #itis{
    width: 100%;
    padding: 20px;
  }
  .container{
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
  }
}